# JetBrains IDE Files
.idea/*
accounting/.idea/*

# databases
*.db

# virtual environments
venv/*

# compiled python bytecode
*.pyc

# python library folders
bin/*
include/*
local/*
lib/*

# npm modules
accounting/node_modules

# installed bower components
static/bower_components/*

# compiled jsx files
static/scripts/compiled_jsx
