<!doctype html>
<!-- import react -->
<script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react-chartjs/dist/react-chartjs.js') }}"></script>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
  {% block external_js %}{% endblock %}
</html>
