<!doctype html>
<!-- import react -->
<script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react-chartjs/dist/react-chartjs.min.js') }}"></script>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}<br><a href="{{ url_for('landing') }}">Landing Page</a>{% endblock %}</div>
  </body>
  {% block external_js %}{% endblock %}
</html>
