{% extends "basepage.html" %}
{% block title %}Make Inventory Transaction{% endblock %}
{% block content %}
    <h1>Inventory Transaction</h1>
    <form id="transaction-form" onsubmit="return submitForm('{{ url_for('inventory') }}')">
        Amount<br>
        <input name="Amount" title="Amount" type="number"><br>
        <input type="submit" value="submit">
    </form>
{% endblock %}
{% block external_js %}
    <script type="text/jsx" src="{{ url_for('static', filename='scripts/jsx/inventory.js') }}"></script>
{% endblock %}