{% extends "basepage.html" %}
{% block title %}Make Salary Transaction{% endblock %}
{% block content %}
    <h1>Salary Transaction</h1>
    <form method="post" action="{{ url_for('salary') }}">
        amount:<br>
        <input name="Amount" title="Amount" type="number"><br>
        department:<br>
        <select name="Department" title="Department">
            <option value="Sales">Sales</option>
            <option value="Accounting">Accounting</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Customer Support">Customer Support</option>
            <option value="Inventory">Inventory</option>
            <option value="Manufacturing">Manufacturing</option>
        </select><br>
        user id:<br>
        <input name="UserID" title="UserID" type="number"><br>
        name: <br>
        <input name="Name" title="Name" type="text"><br>
        <input type="submit" value="submit">
    </form>
{% endblock %}